
@{
    ViewData["Title"] = "Thông tin sinh viên";
}

<div>
    <h1>Thông tin sinh viên</h1>
    <hr />
    <p>Mã sinh viên: 2310900088</p>
    <p>Họ và tên: Nguyễn Hải Sơn</p>
    <p>Lớp: K23CNT2</p>
    <p>Email: sonnguyennr111@gmail.com</p>
    <p>Điện thoại: 0388604819</p>
</div>

