@model NguyenHaiSon_2310900088.Models.NhsEmployee

@{
    ViewData["Title"] = "Sửa thông tin sinh viên";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="NhsEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NhsEmpId" />
            <div class="form-group">
                <label asp-for="NhsEmpName" class="control-label"></label>
                <input asp-for="NhsEmpName" class="form-control" />
                <span asp-validation-for="NhsEmpName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NhsEmpLevel" class="control-label"></label>
                <input asp-for="NhsEmpLevel" class="form-control" />
                <span asp-validation-for="NhsEmpLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NhsEmpStartDate" class="control-label"></label>
                <input asp-for="NhsEmpStartDate" class="form-control" />
                <span asp-validation-for="NhsEmpStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NhsEmpStatus" class="control-label"></label>
                <input asp-for="NhsEmpStatus" class="form-control" />
                <span asp-validation-for="NhsEmpStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="NhsIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
